*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-blue: #4b0082;
    --color-red: #e9118f;
    --color-white: #f9f9f9;
    --color-black: #000;
    --color-ash: #959494;

    --transition: 400ms;
}


body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,
        var(--color-red),
        var(--color-blue),
        var(--color-blue),
        var(--color-blue)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-items: center;

    .wrapper{
        //background: var(--color-white);
        height: 30vh;
        width: fit-content;
        position: relative;
        top: 10%;
        color: var(--color-white);

        header{
            background: var(--color-white);
            padding: 2rem;
            border-radius: 1rem 1rem 0 0;
            h1{
                color: var(--color-blue);
                font-weight: bolder;
                background: linear-gradient(to right,
                    var(--color-red),
                    var(--color-blue)
                );
                font-size: 1.5rem;
                padding-bottom: 1rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .container{
                input{
                    background: var(--color-blue);
                    padding: 0.6rem 1rem;
                    width: 30rem;
                    color: var(--color-white);
                    border-radius: 0.8rem;
                    margin-right: 1rem;

                    &::placeholder{
                        color: var(--color-ash);
                    }
                }

                button{
                    background: linear-gradient(to right,
                        var(--color-red), 
                        var(--color-blue));
                    font-weight: bold;
                    color: red;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 0.8rem;
                    transition: var(--transition);
                    cursor: pointer;

                    &:hover{
                        opacity: 70%;
                    }
                }
            }
        }

        section{
            background: var(--color-white);
            padding: 2rem;
            margin-top: 2rem;
            border-radius: 0 0 1rem 1rem;

            h1{
                color: var(--color-blue);
                font-weight: bolder;
                background: linear-gradient(to right,
                    var(--color-red),
                    var(--color-blue)
                );
                font-size: 1.5rem;
                padding-bottom: 1rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .container{
                margin-bottom: 1rem;
                background: var(--color-blue);
                padding: 0.6rem 1rem;
                border-radius: 0.8rem;
                display: flex;
                gap: 1rem;

                input{
                    background: none;
                    color: var(--color-white);
                    flex: 1 1 0%;
                }

                input:not(:read-only){
                    flex: 1 1 0%;
                    color: var(--color-ash);
                }

                button{
                    background: none;
                    color: red;
                    font-weight: bold;
                }

                button.edit{
                    color: var(--color-white);
                    font-size: 0.8rem;
                    transition: var(--transition);
                    cursor: pointer;

                    &:hover{
                        opacity: 70%;
                    }
                }

                button.delete{
                    color: var(--color-red);
                    font-size: 0.8rem;
                    cursor: pointer;
                    transition: var(--transition);

                    &:hover{
                        opacity: 70%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    body{
        .wrapper{
            height: fit-content;


            header{
                h1{
                    font-size: 2rem;
                }
            }
        }
    }
    
}

@media screen and (max-width: 600px){
    body{
        background: var(--color-blue);
        .wrapper{
            height: fit-content;


            header{
                padding: 0.6rem;
                h1{
                    font-size: 1.5rem;
                }

                .container{
                    input{
                        width: 18rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
    
}